php_value display_errors On
php_value mbstring.http_input auto
php_value date.timezone America/Guayaquil

<Files .htaccess>
  order allow,deny
  deny from all
</Files>

<Files ~ "^.*\.php">
  deny from all
</Files>

<Files ~ "^index\.php|css|js|.*\.png|.*\.jpg|.*\.gif">
  Allow from all
</Files>

RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]